# Ignore everything by default
*

# Allow all directories so Git can traverse them
!*/

# Allow .github directory and all its contents
!.github/
!.github/**

# Git configuration
!.gitignore

# Go source files
!*.go

# Go module files
!go.mod
!go.sum

# Markdown documentation
!*.md

# YAML files
!*.yml

# Dockerfile
!Dockerfile
!LICENSE
