:443 {
    @grpc {
        header Content-Type *grpc*
    }
    @wss {
        header Connection Upgrade
        header Upgrade websocket
    }
    handle /gRPCSHADOWSOCKS/* {
        reverse_proxy @grpc /gRPCSHADOWSOCKS/* 127.0.0.1:7892 {
            flush_interval -1
            transport http {
                versions h2c
            }
        }
    }
    handle /gRPCTROJAN/* {
        reverse_proxy @grpc /gRPCTROJAN/* 127.0.0.1:7893 {
            flush_interval -1
            transport http {
                versions h2c
            }
        }
    }
    handle /gRPCVLESS/* {
        reverse_proxy @grpc /gRPCVLESS/* 127.0.0.1:7894 {
            flush_interval -1
            transport http {
                versions h2c
            }
        }
    }
    handle /gRPCVMESS/* {
        reverse_proxy @grpc /gRPCVMESS/* 127.0.0.1:7895 {
            flush_interval -1
            transport http {
                versions h2c
            }
        }
    }
    handle /wss-shadowsocks {
        reverse_proxy @wss /wss-shadowsocks 127.0.0.1:7896
    }
    handle /wss-trojan {
        reverse_proxy @wss /wss-trojan 127.0.0.1:7897
    }
    handle /wss-vless {
        reverse_proxy @wss /wss-vless 127.0.0.1:7898
    }
    handle /wss-vmess {
        reverse_proxy @wss /wss-vmess 127.0.0.1:7899
    }
    tls /etc/caddy/cert/fullchain.cer /etc/caddy/cert/zhijie.online.key
}
