:443 {
    encode gzip

    handle_path /wss-trojan {
        reverse_proxy localhost:7891
    }
    handle_path /wss-vmess {
        reverse_proxy localhost:7892
    }
    
    tls /etc/caddy/cert/fullchain.cer /etc/caddy/cert/zhijie.online.key
}
